html
	head
		link(type = "text/css" rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
		link(type = "text/css" rel="stylesheet", href="/css/mine.css")
	body